.footer {
  background-color: #e2e1e1;
  margin-top: auto;
}

.footer_hostels>ul {
  list-style-type: none;
  font-size: smaller;
  text-align: left;
}
.footer-heading {
  font-size: medium;
}

.footer a {
  color: #999;
  text-decoration: none;
}

h6 {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: smaller;
}

.fa-instagram:before {
  content: "\f16d";
}